/* src/ui/layout/Layout.css */
html {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font: var(--mui-font-body1);
}

div#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
  font: var(--mui-font-body1);
}

header,
main,
footer {
  padding: var(--mui-spacing-2);
}

header {
  display: flex;
  justify-content: center;
  /* background-color: var(--mui-palette-background-paper); */
  box-shadow: var(--mui-shadows-1);

  .MuiToolbar-root {
    justify-content: center;
  }
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

footer {
  display: flex;
  background-color: var(--mui-palette-background-paper);
  justify-content: center;
  box-shadow: var(--mui-shadows-1);
}
